{% extends "core/base.html" %}
{% block title %}
Hanwha
{% endblock %}

{% block content %}
{% load static %}

<script type="text/javascript" src="{% static 'js/ext/jquery.jqplot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ext/plugins/jqplot.barRenderer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ext/plugins/jqplot.highlighter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ext/plugins/jqplot.cursor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ext/plugins/jqplot.pointLabels.js' %}"></script>

<link rel="stylesheet" src="{% static 'css/ext/jquery.jqplot.css' %}" />

<script>

    function displayExchangeRateData(list) {

        // console.log(list);

        // var legends = [];
        // var values  = [];

        // for(var i=0; i<list.length; i++) {
        //     legends.push(list[i]['SDATE']);
        //     values.push([i+1, list[i]['TRADST']]);
        // }


        // console.log([values]);
        // var plot1 = $.jqplot ('chart1', [[1.10,2,3,4,5]]);

        // var data = {
        //     labels : label,
        //     series : [
        //         values
        //     ]
        // };

        // var line1 = [6.5, 9.2, 14, 19.65, 26.4, 35, 51];
        // var line1 = values;

        // var plot1 = $.jqplot('chart1', [line1], {
        //     legend: {show:false},
        //     axes:{
        //       xaxis:{
        //       tickOptions:{ 
        //         angle: -30
        //       },
        //       tickRenderer:$.jqplot.CanvasAxisTickRenderer,
        //         label:'Core Motor Amperage', 
        //       labelOptions:{
        //         fontFamily:'Helvetica',
        //         fontSize: '14pt'
        //       },
        //       labelRenderer: $.jqplot.CanvasAxisLabelRenderer
        //       }, 
        //       yaxis:{
        //         renderer:$.jqplot.LogAxisRenderer,
        //         tickOptions:{
        //             labelPosition: 'middle', 
        //             angle:-30
        //         },
        //         tickRenderer:$.jqplot.CanvasAxisTickRenderer,
        //         labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
        //         labelOptions:{
        //             fontFamily:'Helvetica',
        //             fontSize: '14pt'
        //         },
        //         label:'Core Motor Voltage'
        //       }
        //     }
        // });

        // var label = [];
        // var values  = [];

        // for(var i=0; i<list.length; i++) {
        //     label.push(list[i]['SDATE']);
        //     values.push(list[i]['TRADST']);
        // }

        // var data = {
        //     labels : label,
        //     series : [
        //         values
        //     ]
        // };

        // var options = {
        //     // width: '300px',
        //     height: '300px',
        //     showArea: true
        // };

        // var responsiveOptions = [
        //   ['screen and (min-width: 641px) and (max-width: 1024px)', {
        //     showPoint: false,
        //     axisX: {
        //       labelInterpolationFnc: function(value) {
        //         // Will return Mon, Tue, Wed etc. on medium screens
        //         return value.slice(0, 3);
        //       }
        //     }
        //   }],
        //   ['screen and (max-width: 640px)', {
        //     showLine: false,
        //     axisX: {
        //       labelInterpolationFnc: function(value) {
        //         // Will return M, T, W etc. on small screens
        //         return value[0];
        //       }
        //     }
        //   }]
        // ];

        // new Chartist.Line('.ct-chart', data, options, responsiveOptions);

    }    
    $(function() {

        $('#search').click(function(event) {
            event.preventDefault();
            
            var data = new FormData($('#getCurrentStock').get(0));

            $.blockUI({ 
                message : "<img src='{% static 'img/preloader/preloader_110.png'%}'/>",
                css : {
                    backgroundColor : 'rgba(0,0,0,0.0)',
                    color : '#000000',
                    border: '0px solid #a00'
                }
            });

            $.ajax({
                    type : 'POST',
                    url : '/exchangeRate/',
                    enctype : "multipart/form-data",
                    processData: false,
                    contentType: false,
                    data : data,
                    }).done(function(response) {
                        var parsed = JSON.parse(response);
                        displayExchangeRateData(parsed);
                        $.unblockUI();
                    }).always(function() {
                        $.unblockUI();
                    }).error(function(request, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                        $.unblockUI();
                    });
        });
            
    });
</script>
<div class="container">
    <div class="row">
        <form action = "/getCurrentStock/" method="post" id="getCurrentStock">{% csrf_token %}
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="stdCurrency">기준환율</label>
                    <input type="text" class="form-control" id="stdCurrency" name="stdCurrency" placeholder="기준환율" value="KRW" disabled>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="displayCurrency">조회환율</label>
                    <select class="form-control" name="displayCurrency" id="displayCurrency">
                        <option selected="selected" value='USD'>USD</option>
                        <option value='EUR'>EUR</option>
                        <option value='JPY'>JPY</option>
                        <option value='GBP'>GBP</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label for="pastMonths">조회환율</label>
                    <select class="form-control" name="pastMonths" id="pastMonths">
                        <option selected="selected" value='1'>1개월치</option>
                        <option value='3'>3개월치</option>
                        <option value='6'>6개월치</option>
                        <option value='12'>1년치</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label for="search">　</label>
                    <button type="submit" class="btn btn-primary btn-block" id="search" name="search">조회</button>
                </div>
            </div>
        </form>
    </div>

    <div id='chart1'></div>

</div>
{% endblock %}